.login-container{
    margin-top: 80px;
}

.login-title{
    margin-bottom: 30px;
}

.form-control{
    background-color: #a239ca;
    color: #0e0b16;
}

.form-control:focus{
    background-color: #a239ca;
    color: #0e0b16;
}

.form-control::placeholder{
    color: #0e0b16;
}

.form-group{
    margin-bottom: 30px;
}

.cta-btn{
    background-color: #a239ca;
    border: #a239ca;
    color: #e7dfdd;
}
.cta-btn:hover{
    background-color: #7c299b;
    color: #e7dfdd;
}

.new-user{
    margin-top: 20px;
}

.reg-link{
    color: #a239ca;
}
.reg-link:hover{
    color: #7c299b;
    text-decoration: none;
}
