.nav-bg {
    background-color: #0e0b16;
    border-bottom: 2px solid #a239ca;
}

.navbar-light .navbar-nav .nav-link {
    color: #e7dfdd;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #a239ca;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #e7dfdd;
}

.navbar-light .navbar-brand:hover {
    color: #e7dfdd;
}

.film {
    margin: 0px 5px 4px 0px;
    color: #a239ca;
}

.custom-toggler.navbar-toggler{
    border-color: transparent !important;

}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(162,57,202)' stroke-width='3.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus{
    outline: none;
}

/* .navbar-toggler {
    background-color: #a239ca;
    padding: 1px 3px;
} */