.nav-bg {
    background-color: #0e0b16;
    border-bottom: 2px solid #a239ca;
}

.navbar-light .navbar-nav .nav-link {
    color: #e7dfdd;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #a239ca;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #e7dfdd;
}

.navbar-light .navbar-brand:hover {
    color: #e7dfdd;
}

.film {
    margin: 0px 5px 4px 0px;
    color: #a239ca;
}

.navbar-toggler {
    background-color: #a239ca;
}