.form{
    width: 80%;
    margin: 0 auto;
}

.register-container{
    margin-top: 80px;
}

.register-title{
    margin-bottom: 30px;
}

.form-control{
    background-color: #a239ca;
    color: #e7dfdd;
}

.form-control:focus{
    background-color: #a239ca;
    color: #0e0b16;
}

.form-control::placeholder{
    color: #e7dfdd;
}

.form-group{
    margin-bottom: 30px;
}

.cta-btn{
    background-color: #a239ca;
    border: #a239ca;
    color: #e7dfdd;
}
.cta-btn:hover{
    background-color: #7c299b;
    color: #e7dfdd;
}